<div id="content">
    <div class="container background-white">
        <div class="container">
            <div class="row margin-vert-30">
                <!-- Login Box -->
                <div class="col-md-6 col-md-offset-3 col-sm-offset-3">

		<%= form_for (@school), html: {multipart: true, class: 'login-page'} do |f| %>
			<div class="login-header margin-bottom-30">
					<h2>Edit <%= @school.name %>'s details</h2>
			</div>
			<div class="input-group margin-bottom-20">
				<span class="input-group-addon">
		        <i class="fa fa-user"></i>
		    </span>
				<%= f.text_field :name, class: 'form-control', placeholder: 'Name'  %>
			</div>

			<div class="input-group margin-bottom-20">
				<span class="input-group-addon">
		        <i class="fa fa-user"></i>
		    </span>
				<%= f.text_field :address, class:'form-control', placeholder: 'Address' %>
			</div>

			<div class="input-group margin-bottom-20">
				<span class="input-group-addon">
		        <i class="fa fa-user"></i>
		    </span>
				<%= f.text_field :state, class:'form-control', placeholder: 'State' %>
			</div>

			<div class="input-group margin-bottom-20">
				<span class="input-group-addon">
		        <i class="fa fa-user"></i>
		    </span>
				<%= f.text_field :description, class:'form-control', placeholder: 'Description' %>
			</div>

			<fieldset label = "School Fees">
				<div class="row">
					<div class="col-md-4">
						<%= f.number_field :reg_fees, class: 'form-control', placeholder: 'Registration fees' %>
					</div>

					<div class="col-md-4">
						<%= f.number_field :primary_one, class: 'form-control', placeholder: 'Primary One' %>
					</div>

					<div class="col-md-4">
						<%= f.number_field :primary_two, class: 'form-control', placeholder: 'Primary Two' %>
					</div>
				</div> <!-- End of first row -->
				<hr>

				<div class="row">
					<div class="col-md-4">
						<%= f.number_field :primary_three, class: 'form-control', placeholder: 'Primary Three'  %>
					</div>

					<div class="col-md-4">
						<%= f.number_field :primary_four, class: 'form-control', placeholder: 'Primary Four' %>
					</div>

					<div class="col-md-4">
						<%= f.number_field :primary_five, class: 'form-control', placeholder: 'Primary Five' %>
					</div>
				</div> <!-- End of second row -->

				<hr>

				<div class="row">
					<div class="col-md-4">
						<%= f.number_field :primary_six, class: 'form-control', placeholder: 'Primary Six' %>
					</div>
					<div class="col-md-4">
						<%= f.number_field :exam_fees, class: 'form-control', placeholder: 'Exam Fees' %>
					</div>
				</div> <!-- End of third row -->
				<hr>
			</fieldset>

			<%= f.file_field :image, value: "School Image", accept: 'image/jpeg,image/gif,image/png' %>
			<%= f.hidden_field :image_cache %>
			<div class="row">
				<%= f.submit "Save School", class:'btn2 btn2-primary pull-right' %>
			</div>
<% end %>
</div>
</div>
</div>
</div>
</div>
