<!DOCTYPE html>
<html>
<head>
  <title>Primary</title>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'primary', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'primary', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
		<div class="container">
		<% flash.each do |message_type, message| %>
			<div class ="alert alert-<%=message_type%>"><%= message %></div>
			<% end %>
		<%= yield%>
		<%= debug(params) if Rails.env.development? %>



</body>
</html>
